<button type="button" class="btn btn-primary" ng-click="addFlavor()" ng-hide="flavorToAdd">Add Flavor</button>
<form novalidate class="css-form" ng-show="flavorToAdd">
    <label>Name: <input type="text" ng-model="drink.name" required /></label><br />
    <input class="btn btn-default btn-info" type="submit" id="save-drink" ng-click="save(drink)" value="Save" />
    <input class="btn btn-default btn-danger" type="submit" ng-click="cancel()" value="Cancel" />

</form>
<div class="alert alert-success fade in" id="sending-message" style="display:none;">
    <div>{{sending}}</div>
</div>