<div class="panel panel-default" ng-hide="typeFilter == 'tea'">
    <div class="panel-heading" >
        <h1>Coffees</h1>
    </div>
    <div class="panel-body" ng-repeat="drink in drinks | filter: { type: 'coffee'} | filter:search | filter:{ rating: ratingFilter}">
        {{drink.name}}
        <i ng-click="markAs(!drink.favourite, drink.id)" class="glyphicon" ng-class="{'glyphicon-heart' : drink.favourite , 'glyphicon-heart-empty' : !drink.favourite }"></i>
        <star-rating-comp on-click="changeDrinkRating($event, drink.id)" speed="'slow'" id="'coffee_ '+ drink.id" rating="drink.rating"></star-rating-comp>
    </div>
    <add-flavor drinks="drinks" type="'coffee'"></add-flavor>
</div>
<div class="panel panel-default" ng-hide="typeFilter == 'coffee'">
    <div class="panel-heading">
        <h1>Teas</h1>
    </div>
    <div class="panel-body" ng-repeat="drink in drinks | filter: { type: 'tea'} | filter:search | filter:{ rating: ratingFilter}">
        {{drink.name}}
        <i ng-click="markAs(!drink.favourite, drink.id)" class="glyphicon" ng-class="{'glyphicon-heart' : drink.favourite , 'glyphicon-heart-empty' : !drink.favourite }"></i>
        <star-rating-comp on-click="changeDrinkRating($event, drink.id)" speed="'slow'" id="'tea '+ drink.id" rating="drink.rating"></star-rating-comp>
    </div>
    <add-flavor drinks="drinks" type="'tea'"></add-flavor>
</div>

