<div class="container" ng-hide="typeFilter && typeFilter != flavorType">
    <div>
        <h3>{{flavorTypeUpper}}</h3>
    </div>
    <table>
        <tbody>
        <tr ng-repeat="drink in drinks | filter: { type: flavorType} | filter:search | filter:{ rating: ratingFilter}">
            <td>
                {{drink.name}}
            </td>
            <td><i ng-click="markAs(!drink.favourite, drink.id)" class="glyphicon font-color"
                   ng-class="{'glyphicon-heart' : drink.favourite , 'glyphicon-heart-empty' : !drink.favourite }"></i>
            </td>
            <td>
                <rate ng-model="drink.rating" ng-click="changeDrinkRating($event, drink.id, drink.rating)"
                      icon-empty="fa-heart-o" icon-full="fa-coffee" icon-base="fa" class="font-color"></rate>
            </td>
        </tr>
        </tbody>
    </table>
    <add-flavor drinks="drinks" type="flavorType"></add-flavor>
</div>
